        div {
            margin-top: -50px;
        }

        div h1 {
            font-family: 'Source Code Pro', monospace;
            margin-left: 240px;
            margin-bottom: -100px;
            font-size: 50px;

        }

        div h2 {
            font-family: 'Source Code Pro', monospace;
            text-align: center;
        }

        body {
            background-image: url('./images/business-computer-contemporary-desk-218863 (1).jpg');
            background-repeat: no-repeat;
            background-size: 1920px 1080px;
            margin-left: 100px;
            margin-top: 150px;
            background-attachment: fixed;
            background-position: 0 100%;
        }


        p {
            font-size: 1.2rem;
            font-family: Georgia, serif;
            margin: 0em;

        }



        fieldset {
             background-color: rgba(255, 255, 255, 0.9);
            width: 1000px;
            height: 1030px;


        }

        legend {
            padding: 0em;

        }

        img,
        fieldset {

            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;

        }


        #linkedin {

            float: right;
            margin-top: -100px;

        }

        #github {
            float: right;
            margin-right: 50px;
            margin-top: -100px;

        }

        a {
            color: inherit;
            color: black;
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s;
        }

        a:hover {
            color: rgba(128, 128, 128, 0.5);
        }

        .start {
            font-family: 'Source Code Pro', monospace;
            float: right;
            margin-right: 670px;
            margin-top: -120px;
            font-size: 2.2em;
            text-decoration: none;

        }

        .about {
            font-family: 'Source Code Pro', monospace;
            float: right;
            margin-right: 610px;
            margin-top: -138px;
            font-size: 2.2em;
            text-decoration: none;
        }

        .cv {
            font-family: 'Source Code Pro', monospace;
            float: right;
            margin-right: 550px;
            margin-top: -156px;
            font-size: 2.2em;
            text-decoration: none;
        }

        .grid-container {
            display: grid;
            gap: 1.1em;
            grid-template-columns: 1fr 1fr 1fr;
            height: 900px; 
        
        }

        .grid-item {
            text-align: center;
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            margin-top: -50px;
            height: 90px;
            width: 320px;
            border: 1px solid #000;
            border-radius: 10px;


        }

        .grid-item1 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            
            margin-top: 80px;
            height: 400px;
            width: 320px;
            border: 1px solid #000;
            border-radius: 10px;


        }

        .grid-item2 {
            grid-column-start: 1;
            grid-row-start: 2;
            height: 760px;
            width: 320px;
            border: 1px solid #000;
            border-radius: 10px;
        }

        .grid-item3 {
            text-align: center;
            grid-column-start: 3;
            grid-row-start: 2;
            
            height: 600px;
            width: 320px;
            border: 1px solid #000;
            border-radius: 10px;
        }




        @media (min-width: 800px) {
            .line {
                display: none;
            }

        }

        @media (max-width: 1100px) {
            fieldset {
                width: 200px;
                height: 2280px;
            }

            body {
                background-image: url('./images/business-computer-contemporary-desk-218863.jpg');

                margin-left: 10px;
                margin-top: 130px;
                background-attachment: fixed;
                background-position: 0 100%;

            }

            div h1 {
                font-size: 25px;
            }

            .start {
                font-style: italic;
                margin-top: -20px;
                font-size: 35px;
                text-decoration: none;
                padding-right: 190px;

            }

            .about {
                font-style: italic;
                margin-top: -41px;
                font-size: 35px;
                text-decoration: none;
                padding-right: 190px;
            }

            .cv {
                font-style: italic;
                margin-top: -57px;
                font-size: 35px;
                text-decoration: none;
                padding-right: 190px;
            }

            #linkedin {

                margin-right: 640px;
                margin-top: -100px;

            }

            #github {

                margin-right: 690px;
                margin-top: -100px;

            }

            .grid-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                
                height: 1500px;

            }

            .grid-item {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                margin-top: 60px;
                height: 90px;
            

            }

            .grid-item1 {
                grid-column-start: 1;
                grid-row-start: 2;
                height: 400px;
                width: 320px;
                margin-top: 30px;
                


            }

            .grid-item2 {
                grid-column-start: 1;
                grid-row-start: 3;
                height: 760px;
                width: 320px;
                margin-top: 30px;
            }

            .grid-item3 {
                grid-column-start: 1;
                grid-row-start: 4;
                height: 600px;
                width: 320px;
                margin-top: 30px;
                

            }


        }